<a href="https://colab.research.google.com/github/annikahurd/167notes/blob/main/pandas_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas Library Exploration 
1/3/23

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/CS167/Datasets/restaurant.csv')
data.head()

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No

In [ ]:
print(data['price'])

0     $$$
1       $
2       $
3       $
4     $$$
5      $$
6       $
7      $$
8       $
9     $$$
10      $
11      $
Name: price, dtype: object

In [ ]:
print(data.loc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [ ]:
print(data.loc[3, 'type'])

Thai

In [ ]:
print(data.loc[3, 'rain'])

No

In [ ]:
print(data.iloc[3,8])

Thai

In [ ]:
print(data.iloc[3][8])

Thai

In [ ]:
print(data.iloc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [ ]:
print(data['est'])

0      0-10
1     30-60
2      0-10
3     10-30
4       >60
5      0-10
6      0-10
7      0-10
8       >60
9     10-30
10     0-10
11    30-60
Name: est, dtype: object

In [15]:
data.loc[5]

alt            No
bar           Yes
fri            No
hun           Yes
pat          Some
price          $$
rain          Yes
res           Yes
type      Italian
est          0-10
target        Yes
Name: 5, dtype: object

In [16]:
print(type(data))
print(type(data['est']))
print(type(data.loc[0]))
print(type(data.iloc[3,8]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'str'>

# Restaurants Exercises
Using the restaurant data:
- print out all examples of Italian restaurants
- print out all examples where the estimated wait time is 0-10 minutes
- print out all examples at Thai restaurants where there is no alternative available. 
	- Hint, see if you can Google how to do selection in a Pandas dataframe using and/or (we'll cover this tomorrow)

In [26]:
print(data[data['type']=='Italian'])
print()
print()
print(data[data['est']=='0-10'])
print()
print()

print(data[(data['type']=='Thai') & (data['alt']=='No')])

   alt  bar  fri  hun   pat price rain  res     type    est target
5   No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10    Yes
9  Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30     No


    alt  bar fri  hun   pat price rain  res     type   est target
0   Yes   No  No  Yes  Some   $$$   No  Yes   French  0-10    Yes
2    No  Yes  No   No  Some     $   No   No   Burger  0-10    Yes
5    No  Yes  No  Yes  Some    $$  Yes  Yes  Italian  0-10    Yes
6    No  Yes  No   No  None     $  Yes   No   Burger  0-10     No
7    No   No  No  Yes  Some    $$  Yes  Yes     Thai  0-10    Yes
10   No   No  No   No  None     $   No   No     Thai  0-10     No


   alt bar fri  hun   pat price rain  res  type   est target
7   No  No  No  Yes  Some    $$  Yes  Yes  Thai  0-10    Yes
10  No  No  No   No  None     $   No   No  Thai  0-10     No

#Iris Data Exploration
Using the Iris Data:
- Print the Sets examples
- Print examples with petal length greater than 6.

In [35]:
data1 = pd.read_csv('/content/drive/MyDrive/CS167/Datasets/irisdata.csv')\


#just a few rows to make sure that the file read correctly
print(data1.head())
print()

type(data1['sepal length'].loc[0])
#This will return the var type of the 0th position in the sepal length column

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

numpy.float64

In [ ]:
# I am not totally sure what "Sets" examples mean

In [37]:
data1[data1['petal length'] > 6]

     sepal length  sepal width  petal length  petal width         species
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica